
  <div class="container">
  
  
    <div class="filters">
      <label for="country" id="label1"><strong>Select Country:</strong></label>
      <select class="form-select form-select mt-3 mb-3" id="country" [(ngModel)]="selectedCountry"
        (change)="selectCountry()">
        <option value="us">United States</option>
        <option value="gb">United Kingdom</option>
        <option value="ca">Canada</option>
      </select>
  
      <label for="fromDate"><strong>From:</strong></label>
      <input type="date" id="fromDate" [(ngModel)]="fromDate" class="form-control mt-2 mb-2">
  
      <label for="toDate"><strong>To:</strong></label>
      <input type="date" id="toDate" [(ngModel)]="toDate" class="form-control mt-2 mb-2">
      <label><strong>Search String:</strong></label>
      <input type="text" placeholder="Search Here..." [(ngModel)]="searchText" class="form-control mt-2 mb-2">
    </div>
  
  
    <!--Card-->
    <div class="row mt-5" *ngIf="newsList">
  
      <div class="card" *ngFor="let news of newsList | filter:searchText" class="col-lg-3 mt-3 mb-3">
        <img [src]="news.urlToImage" alt="News Image" width="100%">
        <div class="card-content">
          <h5 class="mt-2 size"><strong>{{ news.title }}</strong></h5>
          <p>{{ news.description}}</p>
          <p><strong>Author:</strong> {{ news.author }}</p>
        </div>
        <a [routerLink]="['/news', news.title]" class="btn btn-dark btn-sm mt-2">Read More</a>
      </div>
  
    </div>
  </div>