
<div class="container">
    <h2>News Detail</h2>
    
    
      <div class="col">
        <img [src]="news?.urlToImage" alt="News Image">
        <div class="card-content">
          <h3><strong>{{ news?.title }}</strong></h3>
          <p>{{ news?.description }}</p>
          <p><strong>Author:</strong> {{ news?.author }}</p>
          <p><strong>Published At:</strong> {{ news?.publishedAt | date }}</p>
          <p><strong>Content:</strong> {{ news?.content }}</p>
          <p><strong>Source:</strong> {{ news?.source.name }}</p>
          <p><strong>description:</strong> {{ news?.description }}</p>
          <a routerLink="/" class="btn btn-dark btn-sm mt-2">Go Back</a>
        </div>
      </div>
      </div>